<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  {block css}
  <link rel="stylesheet" href="{$ADMIN_MEDIA_URL}css/base.css" />
  {/block}
  <link rel="stylesheet" href="{$ADMIN_MEDIA_URL}css/jquery-ui.custom.css" />
  <link rel="stylesheet" type="text/css" href="{$ADMIN_MEDIA_URL}css/print.css" media="print" />
  <title>{$page_title} - IPF Administration</title>
</head>

<body class="{block bodyclass}{/block}">
<div id="container">
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a href={if isset($indexpage_url)}"{$indexpage_url}"{else}"/"{/if}>{$admin_title}</a></h1>
        </div>
        {block usertools}<div id="user-tools">Welcome, <strong>{$user}</strong>. <a href="{url 'IPF_Admin_Views_Logout'}">Log out</a><br /><span id="ipfver">Version: {$IPF_VER}</span></div>{/block}
    </div>
    {block breadcrumbs}{/block}
    {block content}{/block}
    <div id="footer"></div>
</div>
{block commonjs}
  {if isset($form) && method_exists($form, 'render_commonjs')}
    {$form.render_commonjs()|safe}
  {else}
    <script type="text/javascript" src="{$ADMIN_MEDIA_URL}js/jquery.js"></script>
    <script type="text/javascript" src="{$ADMIN_MEDIA_URL}js/jquery-ui.custom.js"></script>
    <script type="text/javascript" src="{$ADMIN_MEDIA_URL}js/admin.js"></script>
  {/if}
{/block}
{block scripts}{/block}
</body>
</html>
