{extends "admin/base.html"}

{block breadcrumbs} <a href="{url 'IPF_Admin_Views_Index'}">Home</a> &raquo; <a href="{url 'IPF_Admin_Views_ListItems', array($lapp, $lmodel)}">{$classname}</a> &raquo; {$page_title}{/block}


{block content}

<div id="ipfcontent">
    <h1>{$page_title}</h1>

    <form method="post" {if $form.hasFileField()}enctype="multipart/form-data"{/if}>
    <fieldset>
    <table>
    {$form.render_table}
    </table>
    </fieldset>
    {if $inlineInstances}
    {foreach $inlineInstances as $inline}
    <fieldset class="inlineTabular" style="border:none; width:auto; float:left; padding:0; margin:10px 10px 10px 0;">
    <legend>{$inline->getLegend()}</legend>
    <table>
    {foreach $inline.formset as $formset}
    {if $formset.isFirst}
    <tr>
    {foreach $formset.fields as $fieldname=>$field}
    <th{if $formset.field($fieldname).label=='Del'} style="width:20px;"{/if}>{$formset.field($fieldname).label}</th>
    {/foreach}
    </tr>
    {/if}
    <tr>
    {foreach $formset.fields as $fieldname=>$field}
    <td>{$formset.field($fieldname).fieldErrors()}{$formset.field($fieldname)|safe}</td>
    {/foreach}
    </tr>
    {/foreach}
    </table>
    </fieldset>
    {/foreach}
		{/if}
    <div style="clear:both;"></div>

    <div class="submit-row">
        {if array_search('delete',$perms)!==false}<p class="float-left"><a href="{url 'IPF_Admin_Views_DeleteItem', array($lapp, $lmodel, $object.id)}" class="deletelink">Delete</a></p>{/if}
        <input type="submit" value="Save" class="default" />
    </div>
    </form>

</div>

{/block}

