{extends "admin/base.html"}

{block breadcrumbs} <a href="{url 'IPF_Admin_Views_Index'}">Home</a> &raquo; <a href="{url 'IPF_Admin_Views_ListItems', array($lapp, $lmodel)}">{$classname}</a> &raquo; {$page_title}{/block}


{block content}

<div id="ipfcontent">
    <h1>{$page_title}</h1>
    
    <form method="post">
    <fieldset>
    <table>
    {$form.render_table}
    </table>
    </fieldset>

    <div class="submit-row">
        <p class="float-left"><a href="{url 'IPF_Admin_Views_DeleteItem', array($lapp, $lmodel, $object.id)}" class="deletelink">Delete</a></p>
        <input type="submit" value="Save" class="default" />
    </div>
    </form>    
    
</div>

{/block}

