{extends "admin/base.html"}

{block css}<link rel="stylesheet" href="{$ADMIN_MEDIA_URL}css/changelists.css" />{/block}
{block bodyclass}change-list{/block}

{block breadcrumbs}<div class="breadcrumbs"><a href="{url 'IPF_Admin_Views_Index'}">Home</a> &raquo; {$classname}</div>{/block}

{block content}

{if $orderable}
<script language="javascript" type="text/javascript" src="{$ADMIN_MEDIA_URL}js/jquery.tablednd.js"></script>
<script type="text/javascript">
var reorder_url = "reorder/";
{literal}
$(document).ready(function()
{
	$('#items-grid').tableDnD({
        onDragClass: "ItemsDragClass",
		onDrop: function(table, row) {
            $.post(reorder_url, {'ids': $.tableDnD.serialize()}, function(data){});
        }
	});
});
{/literal}
</script>
{/if}

<div id="content" class="flex">
    <h1>{$page_title}</h1>
	<div id="content-main">
        <ul class="object-tools">{if array_search('add',$perms)!==false}<li><a href="add/" class="addlink">Add {$classname}</a></li>{/if}</ul>
        <div id="changelist" class="module {if $filters} filtered{/if}">

	        {if $filters}
	        <div id="changelist-filter">
	        <h2>Filter</h2>
	        {foreach $filters as $f}
	        <h3>{$f->title}</h3>
	        <ul>
	        {foreach $f->choices as $ch}
	            <li{if $ch['selected']} class="selected"{/if}><a href="?{$ch['param']}">{$ch['name']}</a></li>
	        {/foreach}
	        </ul>
	        {/foreach}
	        </div>
	        {/if}
	        <table id="items-grid">
	            <thead>
	                <tr>
	                {foreach $header as $h}
	                    <th>{$h.title}</th>
	                {/foreach}
	                </tr>
	            </thead>
	            <tbody>
	                {foreach $objects as $o}
	                <tr class="trsort" id="{$o.id}">
	                    {foreach $o.ModelAdmin().ListRow($o) as $v}
	                    <td>{$v|safe}</td>
	                    {/foreach}
	                </tr>
	                {/foreach}
	            </tbody>
	        </table>
	        <p class="paginator">
	            {$pager->display()|safe}{$pager->getPager()->getNumResults()} record(s) of {$classname}
	        </p>
        </div>
	</div>
	<br class="clear" />
</div>





{/block}

