{extends "admin/base.html"}

{block css}<link rel="stylesheet" href="{$ADMIN_MEDIA_URL}css/changelists.css" />{/block}
{block bodyclass}change-list{/block}

{block breadcrumbs}<div class="breadcrumbs"><a href="{url 'IPF_Admin_Views_Index'}">Home</a> &raquo; {$classname}</div>{/block}

{block content}

{if $orderable}
<script language="javascript" type="text/javascript" src="{$ADMIN_MEDIA_URL}js/jquery.tablednd.js"></script>
<script type="text/javascript">
var reorder_url = "reorder/";
var prev_ids;
{literal}
$(document).ready(function()
{
    $('#items-grid').tableDnD({
        onDragClass: "ItemsDragClass",
        onDragStart: function(table, row) {
            prev_ids = $.tableDnD.serialize();
        },
        onDrop: function(table, row) {
            $.post(reorder_url, {'ids': $.tableDnD.serialize(), 'prev_ids': prev_ids, 'drop_id':row.id}, function(data){});
        }
    });
});
{/literal}
</script>
{/if}

<div id="content" class="flex">
    <h1>{$page_title}</h1>
    <div id="content-main">
        <ul class="object-tools">{block objecttools}{if array_search('add',$perms)!==false}<li><a href="add/" class="addlink">Add {$classname}</a></li>{/if}<li><a href="javascript:print();">Print</a></li>{/block}</ul>
        <div id="changelist" class="module {if $filters} filtered{/if}">

            {if $is_search}
            <div id="toolbar">
                <form id="changelist-search" method="get" action="">
                <div>
                <label for="searchbar">
                <img alt="Search" src="{$ADMIN_MEDIA_URL}img/icon_searchbox.png" />
                </label>
                <input id="searchbar" type="text" value="{$search_value}" name="q" size="40"/>
                <input type="submit" value="Go"/>
                {if $search_value}
                    <span class="small quiet">{$pager->getPager()->getNumResults()} results (<a href="{url 'IPF_Admin_Views_ListItems', array($lapp, $lmodel)}">reset</a>)</span>
                {/if}
                </div>
                </form>
            </div>
            {/if}

            {if $filters}
            <div id="changelist-filter">
            <h2>Filter</h2>
            {foreach $filters as $f}
            <h3>{$f->title}</h3>
            <ul>
            {foreach $f->choices as $ch}
                <li{if $ch['selected']} class="selected"{/if}><a href="?{$ch['param']}">{$ch['name']}</a></li>
            {/foreach}
            </ul>
            {/foreach}
            </div>
            {/if}
            {block table}
            <table id="items-grid">
                <thead>
                    <tr class="nodrop">
                    {foreach $header as $h}
                        <th>{$h.title}</th>
                    {/foreach}
                    </tr>
                </thead>
                <tbody>
                    {foreach $objects as $o}
                    <tr class="trsort" id="{$o.pk()}">
                        {foreach $o.ModelAdmin().ListRow($o) as $v}
                        <td>{$v|safe}</td>
                        {/foreach}
                    </tr>
                    {/foreach}
                </tbody>
            </table>
            {/block}
            <p class="paginator">
                {$pager->display()|safe}{$pager->getPager()->getNumResults()} record(s) of {$classname}
            </p>
        </div>
    </div>
    <br class="clear" />
</div>





{/block}

