{extends 'admin/base.html'}

{block css}<link rel="stylesheet" href="{$ADMIN_MEDIA_URL}css/login.css" />{/block}
{block bodyclass}login{/block}
{block usertools}{/block}

{block content}
<div id="content" class="colM">
  <div id="content-main">
    <form method="post">
      {if $form.message}<ul class="errorlist"><li>{$form.message}</li></ul>{/if}
      {$form_html}
      <div class="submit-row">
        <input type="submit" value="Sign In" class="default" />
      </div>
    </form>
  </div>
</div>
{/block}

{block scripts}
{foreach $extra_js as $js}
{$js|safe}
{/foreach}
<script type="text/javascript">
  document.getElementById('id_username').focus();
</script>
{/block}

